*.pyc
proposal-assignment.log
proposal-assignment.aux
proposal-assignment.bbl
proposal-assignment.blg
auto/*
data/weather
neural-network/.idea/
neural-network/neural-network.log
neural-network/output.txt